body {
    background-color: #d9d9d9;
}


.my-nav-container {
    max-width: 80%;
    margin: 0 auto;
}

.nav-logo img {
    height: 40px;
    border-radius: 5px;
}

.top-line {
    background-color: purple;
    margin: 0;
    border-bottom: 3px solid purple;
    border-top: 3px solid purple;
}

.nav-right {
    color: rgba(255,255,255,.75);
}

.nav-right > div > span:last-of-type {
    font-size: 0.7rem;
}

.highlights {
    font-size: 1.1rem;
    font-weight: bolder;
    border-bottom: 1px solid grey;
}

.carousel-discount {
    background-color: #6d1d72;
}

.carousel-add-to-cart {
    background-color: #95cf2b;
    color: #212121;
}

.carousel-caption h5 span {
    border-radius: 5px;
}

.my-card {
    max-width: 256px;
}

.strike-discount {
    text-decoration: line-through;
    font-size: 0.8rem;
    ;
}

.discount-card{
    background-color: #6d1d72;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
}
